<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WayCycle"
        tools:targetApi="31">
        <activity
            android:name=".artikel_3"
            android:exported="false" />
        <activity
            android:name=".artikel_2"
            android:exported="false" />
        <activity
            android:name=".coba"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pesan_angkut"
            android:exported="false" />
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".starcycle_1"
            android:exported="false" />
        <activity
            android:name=".angkut_dropOff"
            android:exported="false" />
        <activity
            android:name=".angkut_sampai"
            android:exported="false" />
        <activity
            android:name=".angkut_pickup"
            android:exported="false" />
        <activity
            android:name=".isi_akun"
            android:exported="false" />
        <activity
            android:name=".isi_profile"
            android:exported="false" />
        <activity
            android:name=".waypoints"
            android:exported="false" />
        <activity
            android:name=".artikel"
            android:exported="false" />
        <activity
            android:name=".profil"
            android:exported="false" />
        <activity
            android:name=".angkut"
            android:exported="false" />
        <activity
            android:name=".BankSampah"
            android:exported="false" />
        <activity
            android:name=".homepage"
            android:exported="false" />
        <activity
            android:name=".verify"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCAyO5QQmFAPmqvk7NQXwDUBreu-xD0z8M" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>